/homeworkl1part2/exer1Memorizame/nbproject/private/
/homeworkl1part2/exer1Memorizame/build/
/homeworkl1part2/exer3sumaCadenaTexto/nbproject/private/
/homeworkl1part2/exer3sumaCadenaTexto/build/
/homeworkl1part2/exer2InverseList/nbproject/private/
/homeworkl1part2/exer2InverseList/build/
/homeworkl1part2/exer4MCD/nbproject/private/
/homeworkl1part2/exer4MCD/build/
/Introduction/exer1HelloWorld/nbproject/private/
/Introduction/exer2StdinStdout1/nbproject/private/
/parte2/exer4Lucia/nbproject/private/
/parte2/exer4Lucia/build/